# Project Scenario

An international firm that is looking to expand its business in different countries across the world has recruited you. You have been hired as a junior Data Engineer and are tasked with creating a script that can extract the list of the top 10 largest economies of the world in descending order of their GDPs in Billion USD (rounded to 2 decimal places), as logged by the International Monetary Fund (IMF).

The required data seems to be available on the URL mentioned below:

URL: https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29

# Install and import required libraries

In [7]:
!pip install lxml

Collecting lxml
  Downloading lxml-5.3.2-cp312-cp312-macosx_10_9_universal2.whl.metadata (3.6 kB)
Downloading lxml-5.3.2-cp312-cp312-macosx_10_9_universal2.whl (8.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.2/8.2 MB 8.0 MB/s eta 0:00:00a 0:00:01
Installing collected packages: lxml
Successfully installed lxml-5.3.2

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: pip install --upgrade pip

In [8]:
import numpy as np
import requests
import pandas as pd

# Extract the data using web scraping

In [4]:
URL = "https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29"

In [13]:
tables = pd.read_html(URL)
tables

[      0     1     2
 0   Aug   SEP   Oct
 1   NaN    02   NaN
 2  2022  2023  2024,
                                                    0
 0  Largest economies in the world by GDP (nominal...,
                                                    0  \
 0  > $20 trillion $10–20 trillion $5–10 trillion ...

                                                    1  \
 0  $750 billion – $1 trillion $500–750 billion $2...

                                                    2
 0  $50–100 billion $25–50 billion $5–25 billion <...  ,
     Country/Territory UN region IMF[1][13]            World Bank[14]  \
     Country/Territory UN region   Estimate       Year       Estimate
 0               World         —  105568776       2023      100562011
 1       United States  Americas   26854599       2023       25462700
 2               China      Asia   19373586  [n 1]2023       17963171
 3               Japan      Asia    4409738       2023        4231141
 4             Germany    Europe    4308854       2023        4072192
 ..                ...       ...        ...        ...            ...
 209          Anguilla  Americas          —          —              —
 210          Kiribati   Oceania        248       2023            223
 211             Nauru   Oceania        151       2023            151
 212        Montserrat  Americas          —          —              —
 213            Tuvalu   Oceania         65       2023             60

                United Nations[15]
           Year           Estimate       Year
 0         2022           96698005       2021
 1         2022           23315081       2021
 2    [n 3]2022           17734131  [n 1]2021
 3         2022            4940878       2021
 4         2022            4259935       2021
 ..         ...                ...        ...
 209          —                303       2021
 210       2022                227       2021
 211       2022                155       2021
 212          —                 72       2021
 213       2022                 60       2021

 [214 rows x 8 columns],
          vteLists of countries by financial rankings  \
 0                                              Trade
 1                                         Investment
 2                                              Funds
 3                                    Budget and debt
 4                                   Income and taxes
 5                                         Bank rates
 6                                           Currency
 7                                              Other
 8  Lists of countries by GDP rankings List of int...

        vteLists of countries by financial rankings.1
 0  Account balance % of GDP Exports by product me...
 1                   FDI received past FDI abroad GFI
 2  Forex reserves Forex reserves (ex. gold) Gold ...
 3  Government budget PPP % of GDP per capita Cred...
 4  Tax rates Inheritance tax Tax revenue Wage ave...
 5  Central bank interest rate Commercial bank pri...
 6               Exchange rates to US$ Inflation rate
 7  Financial Development Index Average annual lab...
 8  Lists of countries by GDP rankings List of int...  ,
                vteLists of countries by GDP rankings  \
 0                                            Nominal
 1                      Purchasing power parity (PPP)
 2                                        Growth rate
 3                        Gross national income (GNI)
 4                                Countries by region
 5                              Subnational divisions
 6  Lists of countries by financial rankings List ...

              vteLists of countries by GDP rankings.1
 0  Per capita Past and projected per capita Secto...
 1  Per capita Past per capita Past and projected ...
 2  African countries Asian states European Union ...
 3                  PPP per capita Nominal per capita
 4  Africa PPP nominal Commonwealth of Nations PPP...
 5  Albania Argentina Australia Austria Baltic Sta...
 6  Lists of countries by financial rankings List ...  ,
               vteEconomic classification of countries  \
 0   Developed country Developing country Least dev...
 1                                   Three-World Model
 2                        Gross domestic product (GDP)
 3                                             Nominal
 4                       Purchasing power parity (PPP)
 5                         Gross national income (GNI)
 6                                               Wages
 7                                              Wealth
 8                             Other national accounts
 9                                   Human development
 10                                     Digital divide
 11       Net international investment position (NIIP)
 12                    Economics portal • World portal

             vteEconomic classification of countries.1
 0   Developed country Developing country Least dev...
 1   First World Second World Third World Fourth World
 2   Nominal By country past and projected per capi...
 3   By country past and projected per capita per c...
 4   By country future estimates per capita per cap...
 5   (Nominal, Atlas method) per capita (PPP) per c...
 6   Average wage Europe Employee compensation (per...
 7   Wealth per adult Europe Financial assets per c...
 8   Gross National Happiness Net material product ...
 9   Human Development Index by country inequality-...
 10  ICT Development Index Number of broadband Inte...
 11        Per capita (creditors) Per capita (debtors)
 12                    Economics portal • World portal  ,
                                0  \
 0                        Nominal
 1  Purchasing power parity (PPP)

                                                    1
 0  By country past and projected per capita per c...
 1  By country future estimates per capita per cap...  ]

# We need the 3rd table which tells about GDP

In [15]:
data = tables[3]
data

    Country/Territory UN region IMF[1][13]            World Bank[14]  \
    Country/Territory UN region   Estimate       Year       Estimate
0               World         —  105568776       2023      100562011
1       United States  Americas   26854599       2023       25462700
2               China      Asia   19373586  [n 1]2023       17963171
3               Japan      Asia    4409738       2023        4231141
4             Germany    Europe    4308854       2023        4072192
..                ...       ...        ...        ...            ...
209          Anguilla  Americas          —          —              —
210          Kiribati   Oceania        248       2023            223
211             Nauru   Oceania        151       2023            151
212        Montserrat  Americas          —          —              —
213            Tuvalu   Oceania         65       2023             60

               United Nations[15]
          Year           Estimate       Year
0         2022           96698005       2021
1         2022           23315081       2021
2    [n 3]2022           17734131  [n 1]2021
3         2022            4940878       2021
4         2022            4259935       2021
..         ...                ...        ...
209          —                303       2021
210       2022                227       2021
211       2022                155       2021
212          —                 72       2021
213       2022                 60       2021

[214 rows x 8 columns]

# We need IMF values of countries

In [49]:
data.columns
 #Replace it with numbers for easy access
data.columns = range(data.shape[1])
df = data[[0,2]]
# name the columns
df.columns =['Country','GDP(in Million USD)']
df

           Country GDP(in Million USD)
0            World           105568776
1    United States            26854599
2            China            19373586
3            Japan             4409738
4          Germany             4308854
..             ...                 ...
209       Anguilla                   —
210       Kiribati                 248
211          Nauru                 151
212     Montserrat                   —
213         Tuvalu                  65

[214 rows x 2 columns]

In [54]:
# Retain 1st 10 rows since we only need 10
d_f = df.iloc[1:11]
d_f
#CONVERT gdp COLUMN TYPE TO INT
d_f.loc[:, 'GDP(in Million USD)'] = d_f['GDP(in Million USD)'].astype(int)

In [60]:
# Convert GDP in million to Billion
d_f['GDP(in Million USD)'] = d_f['GDP(in Million USD)']/ 1000
# round it up
d_f['GDP(in Million USD)'] = np.round(d_f['GDP(in Million USD)'])
#Rename column to billion USD
d_f.rename(columns= {'GDP(in Million USD)':'GDP(in Billion USD)'})

/var/folders/_q/jxdqcbn16yv2ckg0lz2klm7m0000gn/T/ipykernel_37892/3712883062.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d_f['GDP(in Million USD)'] = d_f['GDP(in Million USD)']/ 1000
/var/folders/_q/jxdqcbn16yv2ckg0lz2klm7m0000gn/T/ipykernel_37892/3712883062.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d_f['GDP(in Million USD)'] = np.round(d_f['GDP(in Million USD)'])

           Country GDP(in Billion USD)
1    United States            0.000027
2            China            0.000019
3            Japan            0.000004
4          Germany            0.000004
5            India            0.000004
6   United Kingdom            0.000003
7           France            0.000003
8            Italy            0.000002
9           Canada            0.000002
10          Brazil            0.000002

# Loading data into local files

In [61]:
d_f.to_csv('./Largest economies.csv')